#report-container {
  flex: 1;
}

#report-container main {
  padding: 50px;
}

#selectMonthContainer {
  display: flex;
  justify-content: center;
}

#selectMonthContainer p {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 30px;
}

#selectMonthContainer .calendarInput {
  width: 340px;
  margin: 0 32px 0 20px;
}

#selectMonthContainer .calendarInput input {
  width: 345px;
  height: 50px;
  border-radius: 12px;
  outline: none;
  border: 1px solid #bdc3c7;
  font-size: 30px;
  text-align: center;
}

#selectMonthContainer .calendarInput .calendarHide {
  display: none;
}

#selectMonthContainer .calendarInput .calendarOpened {
  position: absolute;
  border-radius: 12px;
}

#extractsContainer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(43, 188, 255, 0.1);
  margin: 40px 0;
  padding: 15px 0;
  border-radius: 15px;
}

#entriesTableContainer {
  margin-bottom: 60px;
}

#entriesTableContainer .entriesTableHeader {
  display: flex;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #7f8c8d;
}

#entriesTableContainer .entriesTableHeader span {
  color: #6a7777;
}

#entriesTableContainer .entriesTableHeader .entriesNamesHeader {
  width: 65%;
}

#entriesTableContainer .entriesTableHeader .entriesDatesHeader {
  width: 15%;
}

#entriesTableContainer .entriesTableHeader .entriesValuesHeader {
  width: 20%;
}

#entriesTableContainer .tableMessage {
  margin-top: 20px;
  color: #6a7777;
  font-weight: bold;
  text-align: center;
}