#header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #2bbcff;
  color: #fff;
}

#header-container .icon {
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: pointer;
}

#header-container h3 {
  font-size: 30px;
}